:root {
    --color-green: #55c57a;
    --color-green-light: #7ed56f;
    --color-green-dark: #28b485;
    --color-silver: #8b99a7;
    --color-silver-3: #f1f1f4;
    --color-silver-4: #999;
}
body {
    font-family: "Poppins", sans-serif;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.signup-container {
    display: flex;
    display: -webkit-flex;
    width: 100%;
    height: 100vh;
}
.account-left {
    width: 70%;
    background-image: url("../img/account-bgc.jpg");
    background-repeat: no-repeat;
}
.account-right {
    width: 30%;
    position: relative;
}
.form-area {
    width: 80%;
    position: absolute;
    top: 5%;
    left: 1%;
    text-align: center;
}
.group {
    margin-bottom: 1.5rem;
}
.control {
    width: 100%;
    display: block;
    padding: 1.1rem 1rem;
    border-radius: 3px;
    border: 1px solid var(--color-green-dark);
    transition: all 1s;
}
.control:focus {
    outline: none;
    border: 1px solid var(--color-green-light);
}
.file {
    display: none;
}
.flash {
  position: fixed;
  top: 30%;
  left: 30%;
  width: 25rem;
  height: auto;
  background-color: #fff;
  padding: 1.5rem;
}
.success-flash{
    color: var(--color-green);
}
.flash-heading {
    font-size: 1.1rem;
}
.flash-body p {
 margin-top: 5px;
}
.remove {
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 1.5rem;
    color: silver;
    font-weight: 500;
}
.remove:hover {
    cursor: pointer;
}
.error-flash {
    color: red;
    top: 50%;
}
#file-label {
    display: block;
    width: 100%;
    padding: 1.1rem 1rem;
    border: 1px solid var(--color-silver);
    border-radius: 3px;
    font-size: 0.9rem;
}
#file-label {
    cursor: pointer;
}
.btn {
    display: block;
    padding: 1.1rem .9rem;
    font-size: .9rem;
    border-radius: .3rem;
    text-transform: uppercase;
    border: 0px;
    color: #fff;
}
.signup-btn {
    width: 100%;
    background: linear-gradient(to right, var(--color-green-light), var(--color-green-dark));
}
.signup-btn:hover {
    cursor: pointer;
}
.form-heading {
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 400;
    border-bottom: .1rem solid var(--color-silver);
    padding-bottom: 1.5rem;
}
.link {
    font-size: .9rem;
    text-decoration: none;
    font-weight: 400;
}
#nav {
    width: 100%;
    height: 10vh;
    background: linear-gradient(to right, var(--color-green-light), var(--color-green-dark));
    position: relative;
}
.chat-container {
    display: flex;
}
#sidebar {
    width: 20%;
    height: 90vh;
    background: #fff;
    position: relative;
}

#sidebar::before {
    position: absolute;
    content: "Profile";
    width: 100%;
    height: 10vh;
    top: -10vh;
    background: linear-gradient(to right, var(--color-green-light), var(--color-green-dark));
    box-shadow: 3px -2px 5px 0px rgba(0,0,0,0.5);
    line-height: 10vh;
    text-align: center;
    font-size: 1.3rem;
    color: #fff;
}
#right-area {
    width: 80%;

}
.messages {
    width: 100%;
    height: 75vh;
    background: rgb(207, 228, 207);
    padding: 1rem;
    overflow-x: hidden;
    overflow-y: scroll;
}
.left-message {
    display: flex;
    width: 50%;
}
.left-msg-area {
  margin-left: 1rem;
}
.online-icon {
    position: absolute;
    top: 0;
    right: 0;
    width: 1rem;
    height: 1rem;
    background: var(--color-green-dark);
    display: block;
}
.sender-name {
    font-weight: 500;
    font-size: 1.1rem;
    color: var(--color-silver);
}
.date-time {
    margin-left: 1rem;
}
.common-margin {
    margin-top: .8rem;
}
.left-msg {
    padding: 1rem;
    width: auto;
    background: linear-gradient(var(--color-green-light), var(--color-green-dark));
    color: #fff;
    border-top-right-radius: .5rem;
    border-bottom-right-radius: .5rem;
    border-bottom-left-radius: .5rem;
    margin-top: .3rem;
}
.chat-form {
    width: 100%;
    height: 15vh;
    border-top: 1px solid var(--color-silver-3);
}
.chat-container {
    display: flex;
}
.form-input {
    width: 50%;
}
.textarea-control {
    width: 100%;
    border: 0;
    padding: 1rem 2rem;
    height: 5rem;
    resize: none;
    margin-left: .3rem;
}
.files-upload {
    display: none;
}
#upload-label {
    width: 100%;
    height: 5rem;
    line-height: 5rem; 
}
#upload-label:hover {
    cursor: pointer;
}
.fa-uploads {
    font-size: 1.2rem;
    margin-left: 1rem;
    color: var(--color-silver-4);
}
.form-section {
    padding: 5rem;
}
.form-grid {
    width: 40%;
}
.custom-bars {
    float: right;
    position: absolute;
    display: block;
    font-size: 1.8rem;
    color: #fff;
    right: 3rem;
    top: 28%;
    cursor: pointer;
}
.bars {
    display: none;
}
::-webkit-input-placeholder {
    font-family: "Poppins", sans-serif;
    font-size: 1.2rem;
    font-weight: 300;
    letter-spacing: 2px;
}
.textarea-control:focus {
    outline: none;
}
.right-messages {
    display: flex;
    justify-content: flex-end;

}
.right-msg-area{
    max-width: 50%;
    width: auto;
}
.right-msg {
    padding: 1rem;
    width: auto;
    background: var(--color-silver-3);
    color: #fff;
    border-top-right-radius: .5rem;
    border-bottom-right-radius: .5rem;
    border-bottom-left-radius: .5rem;
    margin-top: .3rem;
    color: black;
}
.left-ul {
    margin: 3rem 0;
    padding: 0;
}
.left ul li {
    list-style: none;
}
.left-ul ul li a {
    text-decoration: none;
    display: block;
    padding: .4rem 0;
    text-align: center;
    font-size: 1rem;
    color: var(--color-silver);
}
.right-time {
    text-align: right;
    display: block;
}
.left-ul li:not(:first-child):hover {
    background: linear-gradient(to right, var(--color-green-light), var(--color-green-dark));
    transition: all .3s;
}
.left-ul li:hover a {
    color: #fff;
}
.image {
    width: 40%;
    height: 15vh;
    border-radius: 50%;
    transition: all .10s;
}
.image:hover {
    transform: scale(1.3);
}
.error {
    color: red;
    text-align: left;
    font-size: .9rem;
    margin-top: 5px;
}
.alert {
    width: 100%;
    height: 3.5rem;
    line-height: 3.5rem;
    border-radius: 4px;
    margin-bottom: 1.1rem;
}
.alert-success {
    background: var(--color-green);
    color: #fff;
}
.files-error {
    position: fixed;
    width: 100%;
    height: 5rem;
    line-height: 5.1rem;
    text-transform: uppercase;
    text-align: left;
    padding: 0 1rem;
    font-size: 1.1rem;
    background: red;
    color: #fff;
    bottom: 15vh;
    opacity: 0;
    transition: all 1s;
}
.show-file-error {
    opacity: 1;
    width: 50%;
}
.files-cross-icon {
    width: 2rem;
    height: 2rem;
    line-height: 2rem;
    margin-right: 2rem;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    border: 1px solid #fff;
    cursor: pointer;
}
.common-images {
    width: 11rem;
    height: auto;
}
/* Media responsive queries

when is WIDTH 765 and lower execute this queries

*/
@media (max-width: 765px){
    .account-left {
        display: none;
    }
    .account-right {
        width: 100%;
    }
    .bars {
        display: block;
    }
    .chat-container {
        flex-wrap:wrap;
    }
    #sidebar {
        width: 100%;
        display: none;
    }
    #right-area {
        width: 100%;
    }
    #sidebar::before {
        width: 50%;
    }
    .left-message {
        max-width: 100%;
        width: auto;
    }
    .right-msg-area {
        max-width: 100%;
        width: auto;
    }
    .messages {
        height: 70vh;
    }
    .chat-form {
        height: 10vh;
    }
    .form-grid {
        width: 100%;
    }
    .flash {
        width: 80%;
        left: 12%;
    }
}


